# mod_rewrite starts here

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d

#IF FILE DOESNT EXIST IT WONT RUN RULE

RewriteCond %{REQUEST_FILENAME}\.html -f

# Here we actually show the page that has .html

RewriteRule ^(.*)$ $1.html [NC,L]