
  body {
    width: 100%;
    height: 100%;
	  margin: 0;
  	padding: 0;
	  font-weight: 300;
    color: #333;
    background-color: #fff;
}

html {
  width: 100%;
  height: 100%;
}
#particles-js{
   height:100%; 
   width: 100%;
   background-color: rgb(0, 0, 0);
   background-size: cover;
  display:flex;
  position: fixed;
  z-index: -1;
}
h1 {
    font-family: sans-serif;
    font-size: 4.2vw;
    color: rgb(0, 60, 255);
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%)
    
}

h2 {
    font-family: sans-serif;
    font-size: 2.6vw;
    color: rgb(0, 60, 255);
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%)
}
#envelope{
    color: rgb(0, 60, 255);
    position: fixed;
    top: 62.5%;
    left: 45%;
    transform: translate(-50%, -50%);
    
}
#git{
  color: rgb(0, 60, 255);
    position: fixed;
    top: 62.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#linkedin{
  color: rgb(0, 60, 255);
    position: fixed;
    top: 62.5%;
    left: 55%;
    transform: translate(-50%, -50%);
}

#Linkedin{
  position: fixed;
    top: 62%;
    left: 49%;
    transform: translate(-50%, -50%)  
}

#github{
  position: fixed;
    top: 62%;
    left: 53%;
    transform: translate(-50%, -50%)  
}

.topnav {
    overflow:auto;
    background: none;
    
    
  }
  
  .topnav a {
    float: left;
    color: rgb(0, 60, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .topnav a:hover {
    background-color: rgb(0, 60, 255);
    color: black;
  }
  
  #aboutmee {
    color:#2962ff;
    font-size: 34px;
    font-family:sans-serif;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

  p {
    color:#2962ff;
    font-size: 20px;
    font-family:sans-serif;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)

  }
/* This handles the Mobile resolution problems*/
  @media (max-width: 700px){
    h1{
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    }
    
  }
  @media (max-width: 700px){
    h2{
      font-size: 14px;
      padding: 1;
      top: 54%;
    }
  }
  @media (max-width: 700px){
    #envelope{
      font-size: 28px;
      padding: 1;
      top: 60%;
      left: 38%;
    }
  }
  @media (max-width: 700px){
    #git{
      font-size: 28px;
      padding: 1;
      top: 60%;
      left: 50%;
    }
  }
  @media (max-width: 700px){
    #linkedin{
      font-size: 28px;
      padding: 1;
      top: 60%;
      left: 62%;
    }
  }
  /*----------------Aboutme.html below--------------------*/
  p {
    color: rgb(0, 60, 255);
  }

  #Aboutme{
    color: rgb(0, 60, 255);
    top: 30%;
    left: 30%;
  }
  /* will implement later */
  .topnav a.active {
    background-color: rgb(0, 60, 255);
    color: white;
  }
