
  body {
    width: 100%;
    height: 100%;
	  margin: 0;
  	padding: 0;
	  font-weight: 300;
    color: #333;
    background-color: #fff;
}
.marginbot-0{margin-bottom:0 !important;}
.marginbot-10{margin-bottom:10px !important;}
.marginbot-20{margin-bottom:20px !important;}
.marginbot-30{margin-bottom:30px !important;}
.marginbot-40{margin-bottom:40px !important;}
.marginbot-50{margin-bottom:50px !important;}


html {
  width: 100%;
  height: 100%;
}
#particles-js{
   height:100%; 
   width: 100%;
   background-color: rgb(0, 0, 0);
   background-size: cover;
  display:flex;
  position: fixed;
  z-index: -1;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    color: rgb(201, 199, 199);
    position: center;
    
    }
      
  h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(201, 199, 199);
    position: center;
    
}

.mainpage {
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: center;
  width: auto;
  max-width: auto;
  height: auto;
  align-self: center;
  word-wrap: break-word;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 0px;
  padding: 0.5px;
  
}

#envelope{
    color: rgb(46, 56, 161);
    letter-spacing: 0.5cm;
    
    
    
}
#git{
  color: rgb(46, 56, 161);
  letter-spacing: 0.5cm;
    
}
#linkedin{
 color:rgb(46, 56, 161);
 letter-spacing: 0.5cm;
}

 

/* NAV BAR*/
.topnav {
    overflow:auto;
    background: none;
    
    
  }
  
  .topnav a {
    float: left;
    color: rgb(201, 199, 199);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .topnav a:hover {
    background-color: rgb(201, 199, 199);
    color: black;
  }

  

  
/* This handles the Mobile resolution problems*/
  @media (min-width:1920px){
    .mainpage{
      line-height: 80%;
    }
  }
  @media (max-width: 700px){
    h1{
      font-size: 70px;
    
    }
  }
  @media (max-width: 700px){
    h2{
      font-size: 25px;
      padding: 1;
    }
  }
  @media (max-width: 700px){
    #envelope{
      font-size: 28px;
      padding: 1;
      
    }
  }
  @media (max-width: 700px){
    #git{
      font-size: 28px;
      padding: 1;
      ;
    }
  }
  @media (max-width: 700px){
    #linkedin{
      font-size: 28px;
      padding: 1;
      
      
    }
  }
  @media (max-width: 1300px){
    h1{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    }
    
  }
  @media (max-width: 1300px){
    h2{
      font-size: 20px;
      padding: 1;
      
    }
  }
  @media (max-width: 1300px){
    #envelope{
      font-size: 35px;
      padding: 1;
      ;
    }
  }
  @media (max-width: 1300px){
    #git{
      font-size: 35px;
      padding: 1;
    }
  }
  @media (max-width: 1300px){
    #linkedin{
      font-size: 35px;
      padding: 1;
      
    }
    }
    
  
        
      

  /*----------------Aboutme.html below--------------------*/
  p {
  color: rgb(201, 199, 199);
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  text-align:auto;
  word-spacing: 1px;
  
  }

  #Aboutme{
    color: rgb(201, 199, 199);
    top: 30%;
    left: 30%;
    font-size: 50px;
    text-emphasis: left;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav a.active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

  .aboutpage {
    margin-top: auto;
    margin-bottom: auto;
    text-align: auto;
    width: 60%;
    height: 50%;
    align-self: center;
    word-wrap: break-word;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px;
    padding: 10px;
    
    
  }

  @media (max-width: 1300px){
    p{
      font-size: 18px;
      
      
    }
    }

    @media (max-width: 1300px){
      .aboutpage{
        height:40%;
        width:85%
        
      }
      }





  
